Python ==3.10.8
plotly.express==5.17.0
pandas==2.1.1
plotly.graph_objects==5.17.0
numpy==1.26.1
inflection==0.5.1
folium==0.14.0
haversine==2.8.0
MarkerCluster
streamlit==1.28.0
streamlit_folium==0.15.0
io>0.3
zipp==3.17.0